*{
    margin: 0;
}
.container{
      background-color: #f1f1f1;
}
.h1{
    text-align: center;

}
.b1{
    background-color: black;
    color: aliceblue;
}
.left{
    width: 65%;
}
.left1{background-color: white; height: 759px ;}
.a1{
    font-size: 30px;
    padding: 20px;
}
.a2{
    font-size: 30px;
    padding: 20px;
}
.a3{
    color: grey;
    padding: 5px;
}
.a4{
    padding: 20px;
    font-size: 23px;
}
.a5{
    margin-left: 20px;
    height: 60px;
    width: 200px;
    background-color: white;
    font-size: 20px;
    color: black;
    font-weight: 600;
}
.a6{
    margin-left: 800px;
    font-size: 30px;
}
.a7{
  
    background-color: black;
    color: white;
    padding: 0px 6px;
    height: 10px;
    margin-left: 10px;
    font-size: 30px;
}
